/.config/fman/Local/Session.json
/.config/fman/Local/User.json
/.config/fman/Plugins/User/Settings/Panes (Linux).json
/.config/fman/Plugins/User/Settings/Sort Settings (Linux).json
/.config/fman/Plugins/User/Settings/Visited Paths (Linux).json
/.config/fman/Local/Metrics.json
