set $mod Mod4
set $font {{ font.face }}
set $fontSize {{ font.size }}

# Lock application
set $i3lock i3lock -ti ~/.config/i3/tiling.png -c 00547f
# Wallpaper application
set $fehbg feh --bg-scale ~/.wallpaper

# Font for window titles
font pango:$font $fontSize

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec alacritty

# kill focused window
bindsym $mod+x kill
bindsym $mod+Delete kill

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# resize focused window
bindsym $mod+Ctrl+h resize shrink width 10px or 5ppt
bindsym $mod+Ctrl+j resize grow height 10px or 5ppt
bindsym $mod+Ctrl+k resize shrink height 10px or 5ppt
bindsym $mod+Ctrl+l resize grow width 10px or 5ppt

## enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, split)
bindsym $mod+s layout stacking
bindsym $mod+t layout tabbed
bindsym $mod+minus split v
bindsym $mod+bar split h
bindsym $mod+backslash split h

# toggle tiling / floating
bindsym $mod+Shift+f floating toggle

# change focus between tiling / floating windows
bindsym $mod+o focus mode_toggle

# focus the parent container
bindsym $mod+Shift+comma focus parent
bindsym $mod+Shift+period focus child

# switch to workspace
{% for workspace in workspaces: %}
bindsym $mod+{{ loop.index % 10 }} workspace "{{ workspace }}"
{% endfor %}
bindsym $mod+Tab workspace back_and_forth
bindsym $mod+Left workspace prev
bindsym $mod+Right workspace next
bindsym $mod+n workspace next_on_output
bindsym $mod+p workspace prev_on_output
bindsym $mod+e exec --no-startup-id "~/.config/i3/scripts/i3-empty"

# read 1 character and mark the current window with this character
bindsym $mod+period exec i3-input -f "pango:$font $fontSize" -F 'mark %s' -l 1 -P 'Mark: '

# read 1 character and go to the window with the character
bindsym $mod+comma exec i3-input -f "pango:$font $fontSize" -F '[con_mark="%s"] focus' -l 1 -P 'Goto: '

# move focused container to workspace
{% for workspace in workspaces: %}
bindsym $mod+Shift+{{ loop.index % 10 }} move container to workspace "{{ workspace }}"
{% endfor %}
bindsym $mod+Shift+Tab move container to workspace back_and_forth
bindsym $mod+Shift+Left move container to workspace prev_on_output
bindsym $mod+Shift+Right move container to workspace next_on_output
bindsym $mod+Shift+e exec --no-startup-id "~/.config/i3/scripts/i3-empty move"

# launch rofi
bindsym $mod+space exec "rofi -show run -display-run 'Run>>> '"
bindsym $mod+slash exec "rofi -show window -display-window 'Windows>>> '"
# printscreen
bindsym $mod+Print exec "scrot 'shot.%Y%m%d.%H%M%S.png' -e 'mv $f ~/Pictures'"
bindsym Print exec "flameshot gui"

# change sound/media settings
bindsym XF86AudioPlay exec --no-startup-id "mpc toggle"
bindsym XF86AudioStop exec --no-startup-id "mpc stop"
bindsym XF86AudioPrev exec --no-startup-id "mpc prev"
bindsym XF86AudioNext exec --no-startup-id "mpc next"
bindsym XF86AudioMute exec --no-startup-id "pactl set-sink-mute @DEFAULT_SINK@ toggle"
bindsym XF86AudioLowerVolume exec --no-startup-id "pactl set-sink-volume @DEFAULT_SINK@ -5%"
bindsym XF86AudioRaiseVolume exec --no-startup-id "pactl set-sink-volume @DEFAULT_SINK@ +5%"

# Different modes
# Exiting any mode can be done with: Return, Escape, Ctrl+g
# That last one is the effect of permanent Emacs dain bramage ^_^

# "System" menu
# h/t https://thevaluable.dev/window-manager-mouseless-i3/
set $mode_system "SYSTEM: [l]ock • [e]xit i3 • [s]uspend • [h]ibernate • [C-r]eboot • [C-s]hutdown"
mode $mode_system {
	# Quits i3
	bindsym e exec --no-startup-id i3-msg exit
	# Locks i3
	bindsym l exec --no-startup-id $i3lock, mode "default"
        # Puts system into suspend (assuming you're infected by systemd)
	bindsym s exec --no-startup-id $i3lock && systemctl suspend, mode "default"
        # Puts system into hibernate (assuming systemd)
	bindsym h exec --no-startup-id $i3lock && systemctl hibernate, mode "default"
	# Powers the system off (assuming systemd)
        bindsym Ctrl+s exec --no-startup-id systemctl poweroff -i
	# Reboots the system (assuming systemd)
        bindsym Ctrl+r exec --no-startup-id systemctl reboot -i

        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym Ctrl+g mode "default"
}
bindsym $mod+Escape mode $mode_system

# change sound/media settings... for keyboards that don't have media keys
# lookin' atcha, Thinkpad X260 >.<
set $mode_sound "SOUND:  play/pause •  stop •  prev •  next"
mode $mode_sound {
	bindsym Up exec --no-startup-id "mpc stop"
	bindsym Down exec --no-startup-id "mpc toggle"
	bindsym Left exec --no-startup-id "mpc prev"
	bindsym Right exec --no-startup-id "mpc next"

        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym Ctrl+g mode "default"
}
bindsym $mod+z mode $mode_sound

# perform i3-related actions... mostly
set $mode_i3 "i3: [b]g [k]eyboard [r]eload [R]estart"
mode $mode_i3 {
	bindsym b exec --no-startup-id $fehbg, mode "default"
	bindsym k exec --no-startup-id "setxkbmap -option ctrl:swapcaps,compose:ralt", mode "default"
        bindsym r reload
        bindsym Shift+r exec "cd ~/.config/i3/; make; i3-msg restart"

        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym Ctrl+g mode "default"
}
bindsym $mod+BackSpace mode $mode_i3

# a "launcher" mode to kick off commonly used utilities
set $mode_launcher "LAUNCH: [b]g [e]macs [f]man [k]eepass [m]usic [n]eko [w]eb"
mode $mode_launcher {
	bindsym b exec --no-startup-id $fehbg, mode "default"
	bindsym e exec "em", mode "default"
	bindsym f exec "fman", mode "default"
	bindsym k exec "keepassx", mode "default"
	bindsym m exec "cantata", mode "default"
	bindsym n mode $mode_cat
	bindsym w exec "sensible-browser", mode "default"

        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym Ctrl+g mode "default"
}
bindsym $mod+semicolon mode $mode_launcher

# purely a silly toy; a cat chases your cursor around (until you kill it...)
# this menu is bound underneath $mode_launcher
set $mode_cat "(=^ ◡ ^=): [i]nu • [n]eko • [T]ora-neko • [s]akura • [t]omoyo • [k]ill (O.o)"
mode $mode_cat {
	bindsym i exec "oneko -dog", mode "default"
	bindsym n exec "oneko", mode "default"
	bindsym Shift+t exec "oneko -tora", mode "default"
	bindsym s exec "oneko -sakura", mode "default"
	bindsym t exec "oneko -tomoyo", mode "default"
	bindsym k exec "killall oneko", mode "default"

        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym Ctrl+g mode "default"
}

# move window, mostly intended for floating windows
set $mode_move "MOVE: h/ left • j/ down • k/ up • l/ right"
mode $mode_move {
        bindsym h move left
        bindsym j move down
        bindsym k move up
        bindsym l move right

        bindsym Shift+h move left 50 px
        bindsym Shift+j move down 50 px
        bindsym Shift+k move up 50 px
        bindsym Shift+l move right 50 px

        bindsym Left move left
        bindsym Down move down
        bindsym Up move up
        bindsym Right move right

	bindsym 0 move position 0 0
	bindsym c move position center

	bindsym r mode $mode_resize

        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym Ctrl+g mode "default"
}
bindsym $mod+m mode $mode_move

# resize window, again, mostly intended for floating windows
set $mode_resize "RESIZE: h/ left • j/ down • k/ up • l/ right"
mode $mode_resize {
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

	bindsym m mode $mode_move

        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym Ctrl+g mode "default"
}
bindsym $mod+r mode $mode_resize

client.focused {{ colors.focus }} {{ colors.focus }} {{ colors.background }} {{ colors.focus }} {{ colors.focus }}
client.focused_inactive {{ colors.active }} {{ colors.active }} {{ colors.background }} {{ colors.active }} {{ colors.active }}
client.unfocused {{ colors.separator }} {{ colors.separator }} {{ colors.background }} {{ colors.separator }} {{ colors.separator }}
client.urgent {{ colors.urgent }} {{ colors.urgent }} {{ colors.background }} {{ colors.urgent }} {{ colors.urgent }}
client.placeholder {{ colors.separator }} {{ colors.separator }} {{ colors.background }} {{ colors.separator }} {{ colors.separator }}

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
	colors {
        	background {{ colors.background }}
        	statusline {{ colors.statusline }}
        	separator {{ colors.separator }}

                focused_workspace {{ colors.background }} {{ colors.background }} {{ colors.focus }}
                active_workspace {{ colors.background }} {{ colors.background }} {{ colors.active }}
                inactive_workspace {{ colors.background }} {{ colors.background }} {{ colors.separator }}
                urgent_workspace {{ colors.background }} {{ colors.background }} {{ colors.urgent }}
        }
	position top
        status_command i3blocks
        strip_workspace_numbers yes
        separator_symbol " • "
        font pango:$font,FontAwesome $fontSize
}

# remove window titlebars
for_window [class="^.*"] border pixel 2
new_window 1pixel
## future window border settings; not compatible with i3 on Ubuntu 18.04
#default_border pixel 2
#default_floating_border normal

# force settings on specific windows
for_window [class="Keepassx"] floating enable
for_window [class="Peek-run"] floating enable
for_window [class="mpv"] floating enable
for_window [class="em"] floating enable

# mouse cursor does NOT focus
focus_follows_mouse no

# autostart applications
exec --no-startup-id $fehbg
